mixin footer()
	+b.FOOTER.footer
		.container
			.row
				+e.col.col.h6
					a(href="#")  ДЛЯ СМИ
					br
					br
					a(href="#") КОМАНДА СЛЁТА 
				+e.col.col-auto
					+soc()
				.w-100  
				+e.col.col-lg-auto.col-sm.smallest.order-sm-0.order-last  © Всероссийский Слёт Национальной лиги студенческих клубов
				+e.col.col-lg.col-sm-auto.text-sm-center
					a.small(href="#").strong nlsk@fadm.gov.ru
				+e.col.col-sm-auto.text-sm-right.small
					a(href="#") Политика конфиденциальности
					br
					a(href="#") Пользовательское соглашение
					