	// start .sMembers
.sMembers {
	padding-bottom: var(--sPB);
	padding-top: rem(63);
	@include media-breakpoint-up(xl) {
		.row{
			@include roww(40px);
		}
	}

	&__col{
		position: relative;
		&::before{
			content: '';
			position: absolute;
			z-index: -1;
		}
	}

	&__col:nth-child(6n + 1),
	&__col:nth-child(6n + 6) {
		@include media-breakpoint-up(lg) {
			&::before{
				content: url(../img/svg/z-1.svg);
				left: rem(144);
				top: rem(26);
			}
		}
		@include media-breakpoint-up(md) {
			&::before{
				content: url(../img/svg/z-1.svg);
				left: rem(55);
				top: rem(7);
			}
		}
		&::before{
			content: url(../img/svg/z-1.svg);
			left: rem(77);
    	top: rem(20);
		}
	}
	
	&__col:nth-child(6n + 2),
	&__col:nth-child(6n + 5) {
		@include media-breakpoint-up(lg) {
			&::before{
				content: url(../img/svg/z-2.svg);
				right: rem(29);
				top: rem(-16);
			}
		}
		&::before{
			content: url(../img/svg/z-2.svg);
			right: rem(-28);
			top: rem(-12);
		}
		
	}
	&__col:nth-child(6n + 3),
	&__col:nth-child(6n + 4) {
		@include media-breakpoint-up(lg) {
			&::before{
				content: url(../img/svg/z-1.svg);
				left: rem(35);
				top: rem(22);
			}
		}
		@include media-breakpoint-up(md) {
			&::before{
				content: url(../img/svg/z-1.svg);
				left: rem(-29);
				top: 7px;
			}
		}
		&::before{
			content: url(../img/svg/z-1.svg);
			left: rem(-23);
    	top: rem(21);
		}
	}

	
 
	&__item{
		@include media-breakpoint-up(sm) {
			margin-bottom: rem(72);
		}
		margin-bottom: rem(60);

		display: block;
		color: $body-color !important;
		margin-left: auto;
		margin-right: auto;
		max-width: rem(226);
	}

	&__img-wrap{
		@include block(226, 202);
		@include media-breakpoint-up(sm) {
			margin-bottom: rem(40);
		}
		margin-bottom: rem(30);
		overflow: hidden; 
		position: relative;
		--angle: 7.5deg;
		transform: skewX(calc(-1 * var(--angle)));
		z-index: 2;
		picture{
			overflow: hidden;
			transform: skewX(calc(var(--angle)));
			width: 120%;
			height: 100%;
			left: -10%;
			img{
				display: block;
				// transform: skewX(calc(1 * var(--angle)));
				width: 100%;
				height: 100%;
			}
		}
	}
 
	&__title{
		font-weight: bold;
		font-size: rem(20);
		line-height: (28 / 20);
		// max-width: 200px;
		margin-bottom: rem(12);
		margin-left: rem(33);
		a{
			color: $body-color ;
		}
	}

	&__text{
		font-size: $small;
		line-height: (20 / 14);
		margin-left: rem(33);
		// max-width: 200px;
		// margin-bottom: rem(8);
	}


	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
 
	@include media-breakpoint-down(sm) {}

} // end.sMembers
 