mixin sMembers()
	// start sMembers
	+b.sMembers&attributes(attributes)
		.container
			 
			.row
				mixin item(i,t)
					.col-md-4.col-sm-6
						+e.item
							+e.img-wrap.bg-wrap
								+pic(`teamPers-${i}.jpg`,'bg',0)(class="picture-bg")
							+e.DIV.title
								a(href="#")= t
							+e.DIV.text Управляющий партнер
								br
								| ООО “Моршанский
								br
								| банк”
					// /.col-xl-3.col-lg-4.col-sm-6
				+item('1','Виктория Моршанская')
				+item('2','Виктор Моршанский')
				+item('3','Виктория Моршанская')
				+item('4','Виктор Моршанский')
				+item('5','Виктор Моршанский')
				+item('6','Виктор Моршанский')
				+item('7','Виктор Моршанский')
				+item('8','Виктор Моршанский')
				+item('9','Виктория Моршанская')
				+item('10','Виктория Моршанская')
				+item('11','Виктория Моршанская')
				+item('12','Виктория Моршанская')
			+pugin()
	// end sMembers