mixin sMembers()
	// start sMembers
	+b.sMembers&attributes(attributes)
		.container
			.row
				mixin item(i,n,t)
					+e.col.col-md-4.col-sm-6
						+e.item
							+e.img-wrap.bg-wrap(href="#")
								+pic(`sMembers-${i}.jpg`,'bg',0)(class="picture-bg")
							+e.DIV.title
								a(href="#")!= n
							+e.DIV.text!= t

				+item(1, `Любцов <br> Алексей`, `Куратор Слета`)
				+item(2, `Виктор <br> Махагонов`, `Директор Слета`)
				+item(3, `Жукова <br> Ксения`, `Заместитель директора`)
				+item(4, `Давиденко <br> Сергей`, `Заместитель директора`)
				+item(5, `Шихохбалов <br> Валентин`, `Заместитель директора`)
				+item(6, `Исмаков <br> Денис`, `Программный директор Слета`)
				+item(7, `Назаренко <br> Ксения`, `Служба образовательных программ`)
				+item(8, `Гаспарян <br> Мария`, `Координатор Волонтерского корпуса`)
				+item(9, `Муканова <br> Байса`, `Координатор службы по работе с участниками`)
				+item(10, `Потычкина <br> Анастасия`, `Координатор пресс-службы Слета`)
				+item(11, `Акулин <br> Даниил`, `Площадка OnRussia`)
				

				

	// end sMembers