:root {
	--animate-delay: 1.2s;
	--fontSizeBase: #{$em-base};
	@include media-breakpoint-up(md) {

		// --sPT: #{rem(50)};
		// --sPB: #{rem(90)};
		--sTPB: #{rem(40)};
	}

	--sTPB: #{rem(20)};
	@include media-breakpoint-up(md) {
		--topSpacing: #{ rem(20)};
		--sPT: #{rem(50)};
		--sPB: #{rem(50)};
	}
	--sPT: #{rem(50 / 2)};
	--sPB: #{rem(50 / 2)};
--topSpacing: #{ rem(10)};
--angle: 16deg;
// --topSpacing: #{ rem(30)};

		--swiperArrowSize: #{rem(68)};
		--swiperArrowPosition: calc(-1 * var(--swiperArrowSize) / 2);
		--swiperBorderColorDef: var(--bs-primary);
		--swiperColorDef: var(--bs-primary);
		--swiperBgDef: #ffffff;


			--accentColor: #{$warning};
			--btnColor: #{$body-color};
			--accentColorHover: #{lighten($color: $warning, $amount: 5)};
			--accentColorActive: #{darken($color: $warning, $amount: 5)};
			--titleColor: #333333;
			--textColor1: #{ $primary};
			--textColor2: #{ $danger};
			// --accentColor: #00829F;
			--bg: url("data:image/svg+xml,%3Csvg width='1920' height='1287' viewBox='0 0 1920 1287' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1287L1190.5 1205.5L1920 1287L0 0V1287Z' fill='#{$warning}'/%3E%3Cpath d='M0 1287H976L0 0V1287Z' fill='white'/%3E%3C/svg%3E%0A");
}

body.theme-yellow {
	--bg: url("data:image/svg+xml,%3Csvg width='1920' height='1287' viewBox='0 0 1920 1287' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1190.73 1205.02L1918.02 1286.28L3.8373 3.17407L1190.73 1205.02Z' stroke='%23B82636'/%3E%3C/svg%3E%0A");
}
body.theme-blue-yellow {
		--accentColor: #{$primary};
		--accentColorHover: #{lighten($color: $primary, $amount: 5)};
		--accentColorActive: #{darken($color: $primary, $amount: 5)};
		--titleColor: #fff;
			--btnColor: #{$white};
		// --textColor1: #{ $primary};
		// --textColor2: #{ $danger};
	--bg: url("data:image/svg+xml,%3Csvg width='1920' height='1287' viewBox='0 0 1920 1287' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1287L1190.5 1205.5L1920 1287L0 0V1287Z' fill='%23EEB125'/%3E%3Cpath d='M0 1287H976L0 0V1287Z' fill='white'/%3E%3C/svg%3E%0A");
}

body.theme-red {
		--accentColor: #{$danger};
		--accentColorHover: #{lighten($color: $danger, $amount: 5)};
		--accentColorActive: #{darken($color: $danger, $amount: 5)};
		--titleColor: #{$primary};
			--btnColor: #{$white};
		--textColor1: #{ $warning};
		// --textColor2: #{ $danger};
	--bg: url("data:image/svg+xml,%3Csvg width='1920' height='1287' viewBox='0 0 1920 1287' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1287L1190.5 1205.5L1920 1287L0 0V1287Z' fill='#{#ECECEC}'/%3E%3Cpath d='M0 1287H976L0 0V1287Z' fill='white'/%3E%3C/svg%3E%0A");
}
body.theme-blue {
	--accentColor: #{$primary};
	--accentColorHover: #{lighten($color: $primary, $amount: 5)};
	--accentColorActive: #{darken($color: $primary, $amount: 5)};
	--titleColor: #{$white};
	--btnColor: #{$white};
	--textColor1: #{ $warning};
	// --textColor2: #{ $danger};
	--bg: url("data:image/svg+xml,%3Csvg width='1920' height='1287' viewBox='0 0 1920 1287' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1287L1190.5 1205.5L1920 1287L0 0V1287Z' fill='#{$primary}'/%3E%3Cpath d='M0 1287H976L0 0V1287Z' fill='white'/%3E%3C/svg%3E%0A");
}