mixin sVideo()
	// start sVideo
	+b.sVideo.section#sVideo&attributes(attributes)
		.container
			+e.wrap
				+e.video(href="https://www.youtube.com/watch?v=p1BX1K7r0dU" data-fancybox="video"  ).bg-wrap
					+pic("video",'bg')(class="picture-bg") 
				+e.caption Слёт НЛСК 2019.
					br
					| Ярославль
	// end sVideo