extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sLogos/_sLogos.pug
include ../blocks/sMembers/_sMembers.pug

block variables
	- let  mainPage='theme-red '
block title
	- let  title= 'Команда Слёта'
	title= title
block pagecontent 
	+top-nav()
	+b.page-head.container
		h1= title

	+sMembers
	//- +sLogos
	+footer()


	