extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sLogos/_sLogos.pug
include ../blocks/sVideo/_sVideo.pug
include ../blocks/sProgram/_sProgram.pug
include ../blocks/sCorporation/_sCorporation.pug
include ../blocks/sCompetencies/_sCompetencies.pug
include ../blocks/sTalkom/_sTalkom.pug
include ../blocks/sGrant/_sGrant.pug
include ../blocks/sOnRussia/_sOnRussia.pug
include ../blocks/sItems/_sItems.pug

block variables
	- let  mainPage= 'theme-blue-yellow  main-page'
block title
	- let  title= 'title'
	title= title
block pagecontent
	+top-nav('','logo-bly.png')
	+headerBlock()
	+sVideo
	+sProgram
	+sItems
	+sCorporation
	+sCompetencies
	+sTalkom
	+sGrant
	+sOnRussia
	+sLogos
	+footer()


	